/* ================================================
Broad Styles
=================================================*/

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

button:focus {
    outline: none;
}

.flex-cntr-cntr {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ================================================
Triggered Styles
=================================================*/

.invisible {
    display: none;
}

/* ================================================
Image Styles
=================================================*/

.dungeon-images {
    height: 100%;
}

/* ================================================
Container Styles
=================================================*/

#main-container {
    width: 75%;
    height: 75vh;
    margin: 5em auto 0 auto;
    border: solid 2px black;
}

#monster-health-container {
    position: absolute;
    padding: 0 2em 0 2em;
    border-right: solid 2px black;
    border-bottom: solid 2px black;
}

#visual-container {
    height: 75%;
    background-color: black;
}

#item-modal {
    flex-direction: column;
    height: 33%;
    width: 25%;
    background-color: #343036;
    border: solid 2px black;
}

#item-modal-upper {
    flex-direction: column;
    width: 100%;
    height: 75%;
}

#item-modal-img {
    height: 6em;
    width: 6em;
}

#item-modal-lower {
    width: 100%;
    height: 25%;
    background-color: #555157; 
    border-top: solid 2px black;
}

#item-modal {
    position: absolute;
}

#ui-container {
    display: flex;
    height: 25%;
}

#start-btn-ui-container {
    width: 100%;
    height: 100%;
    background-color: #555157;
    border: solid 2px gray;
}

#game-info-container {
    position: relative;
    justify-content: space-evenly;
    background-color: #555157;
    width: 50%;
    border: solid 2px gray;
}

#non-combat-ui {
    width: 50%;
    background-color: #555157;
    border: solid 2px gray;
}

#combat-ui {
    width: 50%;
    background-color: #555157;
    border: solid 2px gray;
}

/* ================================================
List Styles
=================================================*/

.ul-text {
    list-style: none;
    padding: 0;
}

/* ================================================
Text Styles
=================================================*/

#visual-container h1 {
    color: white;
    font-family:'Trebuchet MS', Arial, sans-serif;
    font-size: 5rem;
}

#monster-health-ul li {
    color: white;
}

#health-span {
    font-weight: 900;
    color: crimson;
}

#potions-span {
    font-weight: 900;
    color: royalblue;
}

#monsters-span {
    font-weight: 900;
    color: darkgreen;
}

#weapon-span {
    font-weight: 900;
    color: goldenrod;
}

.ui-text, #item-modal-text {
    color: white;
    font-family:'Trebuchet MS', Arial, sans-serif;
    font-size: 1.8rem;
}



/* ================================================
Button Styles
=================================================*/

.btn {
    width: 8em;
    color: black;
    background-color: white;
    font-family:'Trebuchet MS', Arial, sans-serif;
    font-size: 1.8rem;
    padding: 0.4rem;
    margin: 0.5rem;
    border: none;
    cursor: pointer;
}

.btn-blue {
    border: solid 0.3rem royalblue;
}

.btn-blue:hover,
.btn-blue:focus {
    color: white;
    background-color: royalblue;
}

.btn-red {
    border: solid 0.3rem crimson;
}

.btn-red:hover,
.btn-red:focus {
    color: white;
    background-color: crimson;
}

.btn-yellow {
    border: solid 0.3rem goldenrod;
}

.btn-yellow:hover,
.btn-yellow:focus {
    color: white;
    background-color: goldenrod;
}

.btn-green {
    border: solid 0.3rem darkgreen;
}

.btn-green:hover {
    color: white;
    background-color: darkgreen;
}